# intellij
.idea
# Compiled class file
*.class

# MAC
.DS_Store

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
!gold-standard/*
!webapp-lunch-crawler/run_webapp/*


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# JSON Files
*.json

# Seed files
seed*.txt
Seed*.txt

# folders
neg
pos
link
reduced_neg
reduced_pos
__pycache__

# CSV Input and Output
*.csv
input
output
*_checkpoints
data

# pickled files (some are too big for github > 100MB)
*.sav

# logs folder
logs