body {
  height: 100vh;
  width: 100vw;
}

.popup .leaflet-popup-tip,
.popup .leaflet-popup-content-wrapper {
  background-color: #EDF5E1;
  color: #05386B;
}

nav {
  width: 100vw;
  height: auto;
}

#mapid {
  width: 100vw;
  height: 100%;
}

